.archive {
    max-width: 500px;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        display: block;
        margin-left: 100px;
        color: #42b983;
        word-break: break-all;
        &:hover {
            border-bottom: 0;
            color: #267B54;
        }
    }
    .post-info {
        float: left;
        width: 100px;
        color: #7f8c8d;
    }
}
